# https://docs.github.com/en/actions/learn-github-actions/contexts#example-printing-context-information-to-the-log

name: GitHub Actions Context Dump

on:
  workflow_call:
    inputs:
      config-path:
        required: true
        type: string
    secrets:
      envPAT:
        required: true

  workflow_dispatch:

jobs:
  dump:
    runs-on: ubuntu-latest

    steps:
      - name: Dump GitHub context
        id: github_context_step
        run: echo '${{ toJSON(github) }}'

      # - name: Dump job context
      #   run: echo '${{ toJSON(job) }}'

      # - name: Dump steps context
      #   run: echo '${{ toJSON(steps) }}'

      # - name: Dump runner context
      #   run: echo '${{ toJSON(runner) }}'

      # - name: Dump strategy context
      #   run: echo '${{ toJSON(strategy) }}'

      # - name: Dump matrix context
      #   run: echo '${{ toJSON(matrix) }}'
