name: Hello world

on:
  workflow_dispatch:
  schedule:
    - cron: '*/5 * * * *'

jobs:
  hello-world:
    name: Greet
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.0.1
      - name: Echo
        run: echo "Hello world"
      - name: Output current date/time to GITHUB_STEP_SUMMARY
        run: echo "## Current Datetime: $(date -u)" >> $GITHUB_STEP_SUMMARY
