# ref: https://github.com/dotnet/extensions/blob/main/.github/workflows/update-sdk.yml
name: Update .NET SDK

on:

  # Scheduled trigger to check for .NET SDK updates at 12 UTC every Monday
  schedule:
    - cron:  '00 12 * * MON'

  # Manual trigger to update the .NET SDK on-demand.
  workflow_dispatch:

permissions:
  contents: write
  issues: write
  pull-requests: write

jobs:
  update-dotnet-sdk:
    name: Update .NET SDK
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        ref: main
    - uses: martincostello/update-dotnet-sdk@v5
      with:
        quality: 'daily'
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        global-json-file: './dotnet/global.json'
